{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='tabela.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 p-4 rounded bg-white shadow-sm">
                <h1>Total de Matrículas por Ano</h1>
                <label class="mt-1">
                    <form method="get" class="row g-3 align-items-end justify-content-center" onsubmit="redirecionarPorEstadoMod(); return false;">
                        <div class="col-md-4">
                        <label for="modSelect" class="form-label"> Modalidade </label>
                            <select name="modalidade" id="modSelect"  class="form-select">
                                <option value="">Todos</option>
                                {% for item in ph.modalidades %}
                                    <option value="{{ item }}" {% if modalidade == item %}selected{% endif %}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-7">
                        <label for="estadoSelect" class="form-label"> Estado </label>
                            <select name="estado" id="estadoSelect"  class="form-select">
                                <option value="">Todos</option>
                                {% for item in ph.estados %}
                                    <option value="{{ item }}" {% if estado == item %}selected{% endif %}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-1">
                        <button type="submit" class="btn btn-primary  w-200"> Pesquisar</button>
                        </div>
                    </form>

                    <script>
                        function redirecionarPorEstadoMod() {
                            const mod = document.getElementById("modSelect").value;
                            const estado = document.getElementById("estadoSelect").value;
                            let url = "/matriculas_por_ano";

                            // Se tiver estado, adiciona no final
                            url += estado ? `/${estado}` : '/all';
                            url += mod ? `/${mod}` : '/all';

                            window.location.href = url;
                        }
                    </script>

                </label>
            </div>
        </div>
        {% if dados %}
        <div class="row mt-2 justify-content-center">
            <div class="col-4 rounded bg-white shadow-sm">
                <table class="mt-3">
                    <tr>
                        <th>Ano</th>
                        <th>Matriculados</th>
                    </tr>
                    {% for registroAno in dados %}
                    <tr>
                        <td>{{ registroAno.ano }}</td>
                        <td>{{ registroAno.num_matriculados }}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}