{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='tabela.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 p-4 rounded bg-white shadow-sm">
                <h1>Ranking de Cursos</h1>

                <label>
                    <form method="get" class="row g-3 align-items-end justify-content-center" onsubmit="redirecionarPorAnoEstado(); return false;">
                        <div class="col-md-4">
                        <label for="anoSelect" class="form-label"> Ano </label>
                            <select name="ano" id="anoSelect"  class="form-select">
                                <option value="">Todos</option>
                                {% for item in ph.anos %}
                                    <option value="{{ item }}" {% if ano|string == item|string %}selected{% endif %}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-7">
                        <label for="estadoSelect" class="form-label"> Estado </label>
                            <select name="estado" id="estadoSelect"  class="form-select">
                                <option value="">Todos</option>
                                {% for item in ph.estados %}
                                    <option value="{{ item }}" {% if estado == item %}selected{% endif %}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-1">
                        <button type="submit" class="btn btn-primary  w-200"> Pesquisar</button>
                        </div>

                    </form>

                    <script>
                        function redirecionarPorAnoEstado() {
                            const ano = document.getElementById("anoSelect").value;
                            const estado = document.getElementById("estadoSelect").value;
                            let url = "/ranking_cursos";

                            // Se tiver estado, adiciona no final
                            url += estado ? `/${estado}` : '/all';
                            url += ano ? `/${ano}` : '/all';

                            window.location.href = url;
                        }
                    </script>
                </label>

                {% if dados %}
                <table class="mt-3">
                    <tr>
                        <th>Curso</th>
                        <th>Matriculados</th>
                    </tr>
                    {% for registroRanking in dados %}
                    <tr>
                        <td>{{ registroRanking.nome_curso }}</td>
                        <td>{{ registroRanking.matriculados }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

