{% extends 'base.html' %}

{% block body %}
    <div class="container mt-2">
        <div class="row border mt-4 p-3 justify-content-center">
            <div class="col-4 align-self-center">
                <h1>Ranking de Cursos</h1>

                <label>
                    <form method="get" class="row g-3" onsubmit="redirecionarPorAnoEstado(); return false;">
                        <label> Ano
                            <select name="ano" id="anoSelect"  class="form-select">
                                <option value="">Todos</option>
                                {% for item in ph.anos %}
                                    <option value="{{ item }}" {% if ano|string == item|string %}selected{% endif %}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label> Estado
                            <select name="estado" id="estadoSelect"  class="form-select">
                                <option value="">Todos</option>
                                {% for item in ph.estados %}
                                    <option value="{{ item }}" {% if estado == item %}selected{% endif %}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <button type="submit" class="btn btn-primary"> Pesquisar</button>
                    </form>

                    <script>
                        function redirecionarPorAnoEstado() {
                            const ano = document.getElementById("anoSelect").value;
                            const estado = document.getElementById("estadoSelect").value;
                            let url = "/ranking_cursos";

                            // Se tiver estado, adiciona no final
                            if (estado) {
                                url += `/${estado}`;
                            }
                            else{
                                url += '/all'
                            }
                            
                            if (ano) {
                                url += `/${ano}`;
                            }
                            else{
                                url += '/all'
                            }

                            window.location.href = url;
                        }
                    </script>
                </label>

                <!---<h3>Ano: {{ '{} - {}'.format(ph.anos[0],ph.anos[-1]) if geral else ano_pesquisa }}</h3> --->
                {% for nome_curso, total in dados %}
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item flex-fill">{{ nome_curso }}</li>
                            <li class="list-group-item flex-fill">{{ total }}</li>
                        </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

