{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='tabela.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Consulta</th>
                <th scope="col">Resultado</th>
                <th scope="col">Data</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            {% if consulta %}
                <p>{{ consulta }}</p>
            {% endif %}
            {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.consulta }}</td>
                <td>
                          <table class="table-sm">
                            <thead>
                              <tr>
                                <th>Curso</th>
                                <th>Matriculados</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for item in consulta.resultado %}
                                <tr>
                                {% if item.nome_curso %}
                                    <td>{{ item.nome_curso }}</td>
                                {% endif %}
                                {% if item.ano %}
                                    <td>{{ item.ano }}</td>
                                {% endif %}
                                {% if item.faculdade %}
                                    <td>{{ item.faculdade }}</td>
                                {% endif %}
                                  <td>{{ item.matriculados }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                </td>
                <td>{{ consulta.data_consulta }}</td>
                <td><a href="{{ request.host_url.rstrip('/') }}{{ consulta.consulta }}">Aqui</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}